<% provide(:title, "Register Debating Soceity"); %>

<div class="info-page signup-page">
   
   <h1>Register Debating Society</h1>
   
   <% flash.each do |key, val| %>
      <%= content_tag(:div, val, class: "alert alert-#{key}"); %>
   <% end %>

   <%= form_for(@institution) do |f| %>
      <%= render('shared/error_messages', object: f.object); %>
      <br>
      <%= render('institutions/fields', f: f); %>
      
      <br><br>
      
      <%= f.submit "Create Institution", {class: "btn btn-primary create-account-btn"} %>
   <% end %>
   
</div>
