<% if signed_in? %>

<div class="row-fluid">
   
   <div class="span3" id="user-col">
      
      <span class="user-name-bar"><a href="<%= user_path(@user); %>">
         <%= "#{@user.full_name}" %>
      </a></span>
      <br><br>

      <!-- photo -->
      
      <table class="table table-condensed">
         <thead><tr>
            <td><span class="inst-name">Institution:</span></td>
            <td><span class="inst-value">
               <% @inst = @user.institution; %>
               <a href="<%= institution_path(@inst) %>">
                  <%= @inst.short_name %>
               </a>
            </span></td>
         </tr></thead>
      </table>
      
     <br>
      
      <table class="table">
         <% if !@tourn_list[:current].empty? %>
            <% @tourn_list[:current].each { |t| %>
              <tr class="space-row"></tr>
              <tr>
                 <td><span class="list-title">Currrently at:</span></td>
              </tr>
              <tr>
                 <td><span class="stat-name">Tournament:</span></td>
                 <td><span class="stat-value"><%= t.name %></span></td>
              </tr>
              <tr class="last-row">
                 <td><span class="stat-name">Representing:</span></td>
                 <td><span class="stat-value"><%= current_team(@user) %></span></td>
              </tr>
            <% } %>
         <% end %>
      </table>
      <br><br>

      <div class="btn-group">
         <%= link_to("Profile", user_path(@user.id), class: "btn btn-default"); %>
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
         </button>
         
         <ul class="dropdown-menu">
            <li><%= link_to "Edit", edit_user_path(@user) %></li>
            <li><%= link_to "Sign Out", signout_path, method: 'delete' %></li>
         </ul>
      </div>
      
   </div>
   
   <div class="span9" style="padding-left:60px">
      <% if @user.in_tournament? %>
         <% if !@user.round_now? %>
            <% puts(''); #render('tournaments/_user_info'); %>
         <% else %>
            <%= render('layouts/current_round'); %>
         <% end %>
      <% end %>
         
      <%= render('layouts/upcoming'); %>
      <%= render('static_pages/buttons_and_feed'); %>
   </div>
</div>


<% else %>


<div class="row">
   <br>
   <h1>TabHub - Beta</h1>
   
   <p class="lead" id="info-lines">
      Fully online debating tabbing platform.<br>
      Complete records and total optimization.<br>
      <br>
      Many features and pages are still not functional.<br>
      Every day a little bit more is added. :)<br>
   </p>
</div>

<br>
<br>


<div class="row-fluid">
  
   <div class="span6" style="padding-right:60px">
      <% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <table class="table table-bordered">
         <%= form_for(:session, url: sessions_path) do |f| %>

         <tr>
            <td>
               <%= f.text_field(:email, {placeholder: "E-mail"}); %>
               <!-- <input type="text" placeholder="E-mail"> -->
            </td>
         </tr>
         
         <tr>
            <td>
               <%= f.password_field(:password, {placeholder: "Password"}); %>
               <!-- <input type="password" placeholder="Password"> -->
            </td>
         </tr>

         <tr>
            <td>
               <%= f.submit("Sign In", {class: "btn btn-primary btn-lg btn-block"}); %>  
               <!-- <button type="button" class="btn btn-primary btn-lg btn-block">
                  Sign In
               </button> -->
            </td>
         </tr>
         <% end %>

         <tr>
            <th>
               <a href="#">Forgot my password</a>
               <a href="<%= signup_path %>" style="float:right">Sign Up</a>
            </th>
         </tr>
     
      </table>
   </div>

   <div class="span6" style="margin-top:-19px">
      <%= render('static_pages/recent_topics'); %>
   </div>
   
</div>

<% end %>

