<% if signed_in? %>

<div class="row-fluid">
   
   <div class="span3" id="user-col">
      
      <span class="user-name-bar"><a href="<%= user_path(@user); %>">
         <%= "#{@user.full_name}" %>
      </a></span>
      <br><br>

      <!-- photo -->
      
      <table class="table table-condensed">
         <thead><tr>
            <td><span class="inst-name">Institution:</span></td>
            <td><span class="inst-value">
               <% @inst = @user.institution; %>
               <a href="<%= institution_path(@inst) %>">
                  <%= @inst.short_name %>
               </a>
            </span></td>
         </tr></thead>
      </table>
      
     <br>
      
      <table class="table">
         <% if !@tourn_list[:present].empty? %>
            <tr>
                 <td><span class="list-title">Currrently at:</span></td>
            </tr>
            <% @tourn_list[:present].each { |t| %>
              <tr class="space-row"></tr>
              <tr>
                 <td><span class="stat-name">Tournament:</span></td>
                 <td><span class="stat-value"><%= t.tournament.name %></span></td>
              </tr>
              <tr class="last-row">
                 <!-- this needs to be expanded to "repping/Role" -->
                 <td><span class="stat-name">Representing:</span></td>
                 <td><span class="stat-value"><%= t.tournament.team_of(@user) %></span></td>
              </tr>
            <% } %>
         <% end %>
      </table>
      <br><br>

      <div class="btn-group">
         <%= link_to("Profile", user_path(@user.id), class: "btn btn-default"); %>
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
         </button>
         
         <ul class="dropdown-menu">
            <li><%= link_to "Edit", edit_user_path(@user) %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
         </ul>
      </div>
      
   </div>
   
   <div class="span9" style="padding-left:60px">
      <% if @user.in_tournament? %>
         <% if @user.round_now? %>
            <%= render('layouts/current_round'); %>
         <% end %>
      <% else %>      
         <%= render('layouts/upcoming'); %>
      <% end %>

      <%= render('static_pages/buttons_and_feed'); %>
   </div>
</div>


<% else %>


<div class="row-fluid">
   <br>
   <h1>TabHub</h1>
   <h2 style="float:right;">Fully online BP tabbing platform</h2>

	<div class="row-fluid">
		<div class="span6" style="border-right:solid 1px #bbb;">
			<p class="lead info-lines">

				<b>For the tab room:</b>
				<br>
				Chairs input their ballots directly via smart phone 
				- no runners needed.<br>
				<br>
				Registration by institution representitives directly into database.
				- zero manual input!
				<br>
			</p>
		</div>

		<div class="span6">
			<p class="lead info-lines">
				<b>For you:</b>
				<br>
				Debating statistics across tournaments<br>
				Database of all past motion<br>
				Ontime tournaments!<br>
				<br>
				Option for mass release of draw<br>
				Option for mass release of motion
			</p>
		</div>
	</div>
</div>

<br>
<br>


<div class="row-fluid">
  
   <div class="span6" style="padding-right:60px">

   	<% flash.each do |key, value| %>
         <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <table class="table table-bordered">
      	<%= form_for(:user, as: resource_name, url: session_path(resource_name)) do |f| %>

         <tr>
            <td>
               <%= f.email_field(:email, {placeholder: "E-mail"}); %>
               <!-- <input type="text" placeholder="E-mail"> -->
            </td>
         </tr>
         
         <tr>
            <td>
               <%= f.password_field(:password, {placeholder: "Password"}); %>
               <!-- <input type="password" placeholder="Password"> -->
            </td>
         </tr>

		<% if devise_mapping.rememberable? -%>
         <tr>
         	<td>	         	
	    			<div style="text-align:center">
	    				<span style="padding-right:10px">Remember me:</span>
	    				<%= f.check_box :remember_me %>
	    			</div>
  				</td>
  			</tr>
		<% end -%>

  			<tr>
            <td>
               <%= f.submit("Sign In", {class: "btn btn-primary btn-lg btn-block"}); %>  
               <!-- <button type="button" class="btn btn-primary btn-lg btn-block">
                  Sign In
               </button> -->
            </td>
         </tr>
         <% end %>

         <tr>
            <th>
               <%= link_to("Forgot my password", new_password_path(resource_name)); %>
               <a href="<%= new_registration_path(:user) %>" style="float:right">Sign Up</a>
            </th>
         </tr>
     
      </table>
   </div>

   <div class="span6" style="margin-top:-19px">
      <%= render('static_pages/recent_topics'); %>
   </div>
   
</div>

<% end %>

