<% @list.each { |t| %>
   <tr>
      <td><%= link_to(t.institution.short_name, institution_path(t.institution)) %></td>
      <td><%= link_to(t.name, team_path(t)) %></td>
      
      <% (1..@n).each { |i| %>
         <% u = User.find(t[("member_#{i}_id").to_sym]) %>
         <td><%= link_to(u.full_name, user_path(u)) %></td>
      <% } %>
      
      <td><%= link_to("Edit",   edit_team_path(t)) %></td>
      <td><%= link_to("Delete", "#{tournament_path(@tournament)}/control/teams/#{t.id}", {method: :delete, 
                       confirm: ("Are you sure you want to delete #{t.name}?")}) %></td>
   </tr>
<% } %>
