<tr>
   <td><b>Conflicts:</b></td>
   <td colspan="2">
      <ul>
         <li>
            <%= link_to(@conflicts_list.first.institution.short_name, institution_path(@conflicts_list.first.institution)) %>
            <span style="padding-left:30px; padding-right:30px">-</span>
            <% c = @conflicts_list.shift %>
            <% #link_to "Remove", @conflicts_list.shift, method: :delete %>
            <span id="removeConflict<%= c.id.to_s %>" style="color:gray">remove</span>
            
            <span id="removeMessage<%= c.id.to_s %>" class="pull-left infoBox logInfoBox"> 
               Removal of conflicts is currently dissable, if you think there is an error, 
               please E-mail help@tabhub.com with the issue.
            </span>
            
            <script>
               $("#removeConflict<%= c.id.to_s %>").mouseover(function() {
                  $("#removeMessage<%= c.id.to_s %>").show();
               }).mouseout(function() {
                  $("#removeMessage<%= c.id.to_s %>").hide();
               });
            </script>
         </li>
         
         <% @conflicts_list.each { |c| %>
         <li>
            <%= link_to(c.institution.short_name, institution_path(c.institution)) %>
            <span style="padding-left:30px; padding-right:30px">-</span>
            <span id="removeConflict<%= c.id.to_s %>" style="color:gray">remove</span>
            <% #link_to "Remove", c, method: :delete %>
            
            <span id="removeMessage<%= c.id.to_s %>" class="pull-left infoBox logInfoBox"> 
               Removal of conflicts is currently dissable, if you think there is an error, 
               please E-mail help@tabhub.com with the issue.
            </span>
            
            <script>
               $("#removeConflict<%= c.id.to_s %>").mouseover(function() {
                  $("#removeMessage<%= c.id.to_s %>").show();
               }).mouseout(function() {
                  $("#removeMessage<%= c.id.to_s %>").hide();
               });
            </script>
         </li>
      <% } %>
   </ul>
</tr>

<tr>
   <td>Add Conflict</td>
   <td colspan="2">
      <%= form_tag((tournament_path(@tournament) + "/control/adjudicators/" + @ta.id.to_s + "/conflicts"), method: "post") do %>
         
         <span class="input-prepend" style="margin-left:18px">
            <span class="add-on">Institution</span>
               <% inst_array = Institution.all.map { |inst| [inst.full_name, inst.id]} %>
               <% inst_array.sort_by! { |i| i[0].downcase } %>
               <%= select(:conflict, :institution_id, options_for_select(inst_array), {}, {class: "span2 uni-dropdown"}); %>
         </span>
            
         <i class="icon-question-sign" id="inst-info-btn">&nbsp&nbsp&nbsp&nbsp(click)</i>
         <span id="inst-info-box" class="pull-left infoBox">
            The institution isn't listed?<br>
            Register the institution 
            <a href="<%= new_institution_path %>" target="_blank">here</a> 
            and then refresh the page.
         </span>

         <script>
            $("#inst-info-btn").click(function() {
               $("#inst-info-box").toggle();
            });
         </script>
                  
         <%= submit_tag "Add", {class: "btn", style: "margin-left:87px"} %>
      <% end %>   
      
      <p>(Note that adding a conflict is permanent.)</p>
   </td>
</tr>
