<% @tournament.tournament_attendees.each { |ta| %>
   <% if ta.role != GlobalConstants::TOURNAMENT_ROLES[:adjudicator] %>
      <tr>
         <% u = User.find(ta.user_id); %>
         <td><a href="<%= user_path(u) %>"><%= u.full_name %></a></td>
         <td><a href="<%= institution_path(u.institution) %>"><%= u.institution.short_name %></a></td>
         <td><%= nice_role(ta.role) %></td>
         <td><%= link_to("Remove", (tournament_path(@tournament) + '/control/tab-room/' + ta.id.to_s), 
                         confirm: ("Are you sure you want to remove " + 
                         u.full_name + " from the tab room?"), method: :delete) %></td>
      </tr>
   <% end %>
<% } %>
