<% @tab_room_attendee_array.each { |a| %>
   <tr>
      <% u = User.find(a.user_id); %>
      <td><a href="<%= user_path(u) %>"><%= u.full_name %></a></td>
      <td><a href="<%= institution_path(u.institution) %>"><%= u.institution.short_name %></a></td>
      <td><%= link_to("Remove", (tournament_path(@tournament) + '/control/tab-room/' + a.id.to_s), 
                      confirm: ("Are you sure you want to remove " + 
                      u.full_name + " from the tab room?"), method: :delete) %></td>
   </tr>
<% } %>
