<% provide(:title, @round.tournament.name + " - Edit Round " + @round.get_rank.to_s); %>

<div class="info-page signup-page">
   
   <h2>Edit the Motion of Round <%= @round.get_rank %></h2>
   <a href="<%= tournament_path(@round.tournament  ) + '/control/rounds'%>">back to rounds</a>   
   
   <% @tournament = @round.tournament %>
   <%= form_for(@round) do |f| %>
      <%= render('shared/error_messages', object: f.object); %>
         <br>
         <%= render('rounds/fields', f: f); %>
         
         <br><br>
         
         <%= f.submit "Add Round", {class: "btn btn-primary"} %>
   <% end %>
   
</div>
