<div class="input-prepend">
   <span class="add-on">First Name</span>
   <%= f.text_field(:fname, {class: "span2"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">Last Name</span>
   <%= f.text_field(:lname, {class: "span2"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">E-mail</span>
   <%= f.text_field(:email, {class: "span2"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">Institution</span>
   <% inst_array = Institution.all.map { |inst| [inst.full_name, inst.id]} %>
   <%= f.select(:institution_id, options_for_select(inst_array), {}, {class: "span2 uni-dropdown"}); %>
</div>


<div class="input-prepend">
   <span class="add-on">Password</span>
   <%= f.password_field(:password, {class: "span2"}); %>
</div>


<div class="input-prepend">
   <span class="add-on" style=" padding-left: 38px; padding-right: 62px;">
      Confirm Password
   </span>
   <%= f.password_field(:password_confirmation, {class: "span2"}); %>
</div><br>
