<span class="input-prepend" style="margin-left:18px">
   <span class="add-on">Institution</span>
      <% inst_array = Institution.all.map { |inst| [inst.full_name, inst.id]}       %>
      <% tmp = inst_array.delete_at(@user.institution_id || 0); #they are in order  %>
      <% inst_array.insert(0, tmp); #put chose uni at top so it is already selected %>
      <%= f.select(:institution_id, options_for_select(inst_array), {}, {class: "span2 uni-dropdown"}); %>
</span>
<i class="icon-question-sign" id="inst-info-btn"></i>
<span id="inst-info-box" class="pull-left infoBox">
   Your institution isn't listed?<br>
   <a href="<%= new_institution_path %>">Register your institution</a>
   <br><br>
   If you are here just to look<br>
   around select <i>'Test Univserity'</i>.<br>
</span>

<script>
   $("#inst-info-btn").click(function() {
      $("#inst-info-box").toggle();
   });
</script>

<div class="input-prepend">
   <span class="add-on">First Name</span>
   <%= f.text_field(:fname, {class: "span2", value: "#{@user.fname}"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">Last Name</span>
   <%= f.text_field(:lname, {class: "span2", value: "#{@user.lname}"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">E-mail</span>
   <%= f.text_field(:email, {class: "span2", value: "#{@user.email}"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">Password</span>
   <%= f.password_field(:password, {class: "span2"}); %>
</div>


<div class="input-prepend">
   <span class="add-on">
      Confirm Password
   </span>
   <%= f.password_field(:password_confirmation, {class: "span2"}); %>
</div><br>
