<% provide(:title, "Sign Up"); %>

<div class="info-page signup-page">
   
   <h1>Welcome to TabHub</h1>
   
   <% flash.each do |key, val| %>
      <%= content_tag(:div, val, class: "alert alert-#{key}"); %>
   <% end %>
   
   <%= form_for(@user) do |f| %>
      <%= render('shared/error_messages', object: f.object); %>
      <%= render('users/fields', f: f); %>
      
      <br>
      
      <%= f.submit "Create Account", {class: "btn btn-primary create-account-btn"} %>
   <% end %>
   
</div>
