<% provide(:title, "Profile") %>

<div class="row-fluid" id="profile-page">
   <div class="span6" style="font-size:100px">
      <!-- Photo Here! -->
   </div>

   <div class="span6">
      <div class="user-name">
         <%= "#{current_user.fname} #{current_user.lname}"  %>
      </div>

      <div class="user-inst">
         <%= current_user.institution.full_name %>
      </div>
   </div>
   

   <div class="row">
      <h3>Past Tournaments</h3>
      
      <table class="table table-striped">
         <% @tour_list.each { |t| %>
            <tr class="last-row">
               <td><%= t.name       %></td>
               <td><%= t.location   %></td>
               <td><%= t.start_time %></td>
            </tr>
         <% } %>
      </table>

      <%= link_to("Sign Out", signout_path, method: "delete", class: "btn"); %>
   </div>
   
</div>
