<% if @tournament.tournament_setting.registration == GlobalConstants::SETTINGS_VALUES[:registration]["Quota for selected institutions"] %>
   
   <tr>
      <td colspan="6">Allocate Spots to Institution</td>
   </tr>
   
   <tr>
      <%= form_tag do %>
         <td colspan="3">
            <% inst_array = Institution.all.map { |inst| [inst.full_name, inst.id]} %>
            <% inst_array.sort_by! { |i| i[0].downcase } %>
            <%= select(:allocation, :institution_id, options_for_select(inst_array), {}, 
                       {style: "width:300px;"}); %>
            
            <i class="icon-question-sign" id="inst-info-btn">&nbsp&nbsp&nbsp&nbsp(click)</i>
            <span id="inst-info-box" class="pull-left infoBox">
               The institution isn't listed?<br>
               Register the institution 
               <a href="<%= new_institution_path %>" target="_blank">here</a> 
               and then refresh the page.
            </span>
            
            <script>
               $("#inst-info-btn").click(function() {
                  $("#inst-info-box").toggle();
               });
            </script>   
         </td>
         
         <td colspan="2"><%= number_field_tag(:num_teams, nil, {placeholder: "# Teams"       , style: "width:110px;"}) %></td>
         <td colspan="2"><%= number_field_tag(:num_adjs,  nil, {placeholder: "# Adjudicators", style: "width:110px;"}) %></td>   
         <td><%= submit_tag("Allocate Spots", {class: "btn"});                                             %></td>
      <% end %>
   </tr>

   <tr>
      <td colspan="8">
         <%= render(:partial => 'shared/small_notice', :locals => {small_notice: @msg}); %>
      </td>
   </tr>
<% end %>
