<div class="input-prepend">
   <span class="add-on">Tournament Name</span>
   <%= f.text_field(:name, {class: "span2", value: "#{@tournament.name}"}); %>
</div>
<div style="margin-top:-5px; margin-bottom:20px">
   (Please include the year in the tournament name.)
</div>

<div class="input-prepend">
   <span class="add-on">Region</span>
   <% regions_array = GlobalConstants::TOURNAMENT_REGIONS.to_a   %>
   <% regions_array.sort_by! { |i| i[0].downcase }               %>
   <% if (regions_array.reject! { |i| i[1] == @tournament.region }) != nil; #they are in order  %>
   <% 	regions_array.insert(0, [GlobalConstants::TOURNAMENT_REGIONS_STR[@tournament.region], @tournament.region]); %>
   <% 	#put chose uni at top so it is already selected %>
   <% end %>
   <%= f.select(:region, options_for_select(regions_array), {}, {class: "span2 uni-dropdown"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">Location</span>
   <%= f.text_field(:location, {class: "span2", value: "#{@tournament.location}"}); %>
</div>

<div style="margin-top:20px">
   Note that the times should be in the timezone of the location.
</div>

<div class="input-prepend">
   <span class="add-on">Start Time</span>
   <%= f.text_field(:start_time, {class: "span2", value: "#{@tournament.start_time}"}); %>
</div>

<div class="input-prepend">
   <span class="add-on">End Time</span>
   <%= f.text_field(:end_time, {class: "span2", value: "#{@tournament.end_time}"}); %>
</div>

<div class="remarks-box" style="margin-top: 10px;">
   <span class="remarks-title">Remarks/Notes - This is where you can put general information.</span>
   <%= f.text_area(:remarks, {class: "remarksInputBox", value: "#{@tournament.remarks}"}); %>
</div>
