<% @next_round = @tournament.next_round %>
<% if @tournament.has_next_round? %>

	<div class="row-fluid">
	   <div class="settingsBox">
	      
	      <p><b><a href="<%= round_path(@next_round) %>">Next Round</a></b> - Status: 
	         <span style="color:<%= @totalCheck[1] %>"><%= @totalCheck[2] %></span><p>
	         
	         <p class="linkP" style="display:inline;" id="motionLink"><b>Motion</b><p>
	         
	         <span id="motionText" class="pull-left infoBox logInfoBox" style="margin-left:60px;">
	            <%= @next_round.motion.wording %>
	         </span>

	         <script>
	            $("#motionLink").mouseover(function(){
	               $("#motionText").show();
	            }).mouseout(function(){
	               $("#motionText").hide();
	            });
	         </script>

	      <table class="table", style="margin-bottom:0px">
	         <thead><tr>
	            <td>
	            	<% if !@tournament.made_or_making_next_draw? %>
	               	<%= button_to "Make Draw", (tournament_path(@tournament) + "/rounds/make-next-draw"), class: "btn btn-primary",
	               		 				confirm: "Are you sure you want to make the draw for the next round?", method: :post %>
	               <% else %>
	               	<%= button_to "Make Draw", "", class: "btn", confirm: "Draw has been made or is being made now. No need to resubmit.", method: :get %>
	               <% end %>
	            
	               <i class="icon-question-sign qIcon nextRoundIcon" style="margin-top:-40px;" id="makeDrawBtnQue"></i>
	               <span id="makeDrawBtnInfo" class="pull-left infoBox logInfoBox" style="margin-top:-13px"> 
	                  This button will build the next draw for you.
	               </span>
	               <script>
	                  $("#makeDrawBtnQue").mouseover(function() {
	                     $("#makeDrawBtnInfo").show();
	                  }).mouseout(function() {
	                     $("#makeDrawBtnInfo").hide();
	                  });
	               </script>
	            </td>

	            <td>
	            	<% if @tournament.next_round_draw_made? %> 
	               	<%= button_to "See Draw", (round_path(@tournament.next_round) + "/draw"), class: "btn btn-info", method: :post %>
	               <% else %>
	               	<%= button_to "See Draw", "", class: "btn", confirm: "You must make the draw before you can see it.", method: :get %>
	               <% end %>
	            
	               <i class="icon-question-sign qIcon nextRoundIcon" style="margin-top:-40px;" id="seeDrawBtnQue"></i>
	               <span id="seeDrawBtnInfo" class="pull-left infoBox logInfoBox" style="margin-top:-13px"> 
	                  This button will show you the draw. Here you can manually edit each room.
	               </span>
	               <script>
	                  $("#seeDrawBtnQue").mouseover(function() {
	                     $("#seeDrawBtnInfo").show();
	                  }).mouseout(function() {
	                     $("#seeDrawBtnInfo").hide();
	                  });
	               </script>
	            </td>
	            
	            <td>
	            	<% if @tournament.next_round_draw_made? %> 
	               	<%= button_to "Release Draw", (round_path(@next_round) + "/rounds/release-draw"), class: "btn btn-warning", 
	                     confirm: "Are you sure you want to release the draw?", method: :post %>
	               <% else %>
	               	<%= button_to "Release Draw", "", class: "btn", confirm: "Cannot release draw until it is made.", method: :get %>
	               <% end %>

	               <i class="icon-question-sign qIcon nextRoundIcon" style="margin-top:-40px; margin-left:122px;" id="releaseDrawBtnQue"></i>
	               <span id="releaseDrawBtnInfo" class="pull-left infoBox logInfoBox" style="margin-top:-13px"> 
	                  This button will make the draw for the next round public. Participants will see their room on their home page or 
	                  alternatively, users can view the full draw on the web page for the tournament. 
	               </span>
	               <script>
	                  $("#releaseDrawBtnQue").mouseover(function() {
	                     $("#releaseDrawBtnInfo").show();
	                  }).mouseout(function() {
	                     $("#releaseDrawBtnInfo").hide();
	                  });
	               </script>
	            </td>
	            
	            <td>
	            	<% if @tournament.next_round_draw_made? %> 
	               	<%= button_to "Start Round", (tournament_path(@tournament) + "/rounds/start-round"), class: "btn btn-danger", 
	                     confirm: "Are you sure you want to start the round? This is an irreversible action.", method: :post %>
	               <% else %>
	               	<%= button_to "Start Round", "", class: "btn", confirm: "Cannot start round until the draw is made.", method: :get %>
	               <% end %>
	            
	               <i class="icon-question-sign qIcon nextRoundIcon" style="margin-top:-40px;" id="startRoundBtnQue"></i>
	               <span id="startRoundBtnInfo" class="pull-left infoBox logInfoBox" style="margin-top:-13px"> 
	                  This button will launch the next round.
	               </span>
	               <script>
	                  $("#startRoundBtnQue").mouseover(function() {
	                     $("#startRoundBtnInfo").show();
	                  }).mouseout(function() {
	                     $("#startRoundBtnInfo").hide();
	                  });
	               </script>
	            </td>
	         </tr></thead>
	      </table>

	      <% if @tournament.made_or_making_next_draw? %>
	      	<p style="text-align:center;"><b>Progress Making the Next Draw<b></p>
		      <div class="progress">
		      	<% prog = @tournament[:progress] %>
					<div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:<%= prog.to_s %>%;">
					 <%= prog.to_s %>%
					</div>

					<script>
						var globalInterval;
						var globalProgress = 0; //keeps track of progress

						//once page loaded
						$(document).ready(function() {
							if(<%= prog.to_s %> != 100) {
								globalInterval = setInterval(function(){ checkStatusAndUpdate() }, 1000);
							}
						});

						//check the status (make ajax JSON request) + update progress bas
						function checkStatusAndUpdate() {
							if(globalProgress == 100){ //break the interval ticker if done
								clearInterval(globalInterval); //stops ticker
								location.reload(); //refresh page to make all the buttons light up
							}

							console.log("Making request to server for draw building progress.");
							$.getJSON("<%= tournament_url(@tournament) + '/rounds/progress' %>", 
										  function(data){ updateProgressBar(data); });
							
							return;
						}

						function updateProgressBar(data) {
							//update the global
							globalProgress = data["progress"];

							//update the bar
							$("#progress-bar").html(globalProgress + "%");
							$("#progress-bar").attr("style", ("width:" + globalProgress.toString() + "%"));
							return;
						}
					</script>
				</div>
			<% end %>
			
	   </div>
	</div>

<% end %>