<div class="settingsSelect">
   <div style="margin-top:30px; margin-bottom:5px;">
      All settings below can be changed at anytime during the tournament.
   </div>
   <!-- change to say, except for 3v3, when we get there. -->
   
   <% a = @tournament.tournament_setting.to_paired_array; %>
   <% a.each { |s| %>   
   <div class="oneSetting">
         <span class="input-prepend" style="margin-left:18px">
            <span class="add-on" style="height:20px;padding-top:5px">
               <%= GlobalConstants::SETTINGS_TITLES[s[0]] %>
            </span>
            
            <% choice_map = GlobalConstants::SETTINGS_VALUES[s[0]].map { |key,val| [key, val] }; %>
            <% selected = g.object[s[0]] %>
            <%= g.select(s[0], options_for_select(choice_map, selected), {}, {style: "height:31px"}); %>
         </span>
            
         <i class="icon-question-sign" id="<%= s[0].to_s + "Info-btn" %>"></i>
         <span id="<%= s[0].to_s + "Info" %>" class="pull-left infoBox" style="margin-top:-44px">
            <%= GlobalConstants::SETTINGS_INFO[s[0]].html_safe %>
         </span>
            
         <script>
            $("<%= "#" + s[0].to_s + "Info-btn" %>").mouseover(function() {
               $("<%= "#" + s[0].to_s + "Info" %>").show();
            }).mouseout(function() {
               $("<%= "#" + s[0].to_s + "Info" %>").hide();
            });
         </script>
      </div>
   <% } %>
</div>
   
<div style="margin-top:20px">
   Note that this tournament will be registered under your institution.
</div>
