<div class="row-fluid">
   <div class="settingsBox">
      <p>
      	<b>Settings</b>
      	<% if !@user.nil? && @user.is_in_roles?([:tab_room, :ca, :dca], @tournament) %>
      		- 
      		<%= link_to "Edit", edit_tournament_path(@tournament) %>
      	<% end %>
      </p>
      <% a = @tournament.tournament_setting.to_paired_array; %>
      
      <table class="table">
         <thead><tr>
            <td>Attributes:</td>
            <% i = 1; #counter to move tooltip left if too far right %>
            <% a.each { |s| %>
               <td>
                  <%= GlobalConstants::SETTINGS_TITLES[s[0]] %>
                  <i class="icon-question-sign qIcon" id="<%= s[0].to_s + "Info-btn" %>"></i>
                  
                  <span id="<%= s[0].to_s + "Info" %>" class="pull-left infoBoxCtrlPanel
                     <% if i > 4 #only have space for 4 cols %>
                        <%= "specialCase" + s[0].to_s %>">
                        
                        <style>
                           .<%= "specialCase" + s[0].to_s %> {
                              margin-left: <%= ((i-4) * 100 * -1).to_s %>px;
                           }
                        </style>
                     <% else %>
                  ">
                     <% end %>
                     <%= GlobalConstants::SETTINGS_INFO[s[0]].html_safe %>
                  </span>
               
               </td>
               
               <script>
                  $("<%= "#" + s[0].to_s + "Info-btn" %>").mouseover(function() {
                     $("<%= "#" + s[0].to_s + "Info" %>").show();
                  }).mouseout(function() {
                     $("<%= "#" + s[0].to_s + "Info" %>").hide();
                  });
               </script>
            <% i = i + 1; %>
            <% } %>
         </tr></thead>

         <tr>
            <td>Selection:</td>
            <% a.each { |s| %>
               <td class="onOffVal">
                  <%= GlobalConstants::SETTINGS_VALUES_STR[s[0]][s[1]] %>
               </td>
            <% } %>
         </tr>
      </table>
   </div>
</div>
