<div class="row-fluid">
   <div class="settingsBox">
      <p><b>Settings</b> - <%= link_to "Edit", edit_tournament_path(@tournament) %></p>
      <% a = @tournament.tournament_setting.to_paired_array; %>
      
      <table class="table">
         <thead><tr>
            <td>Attributes:</td>
            <% a.each { |s| %>
               <td>
                  <% puts("asking for: " + s.to_s + " in " + GlobalConstants::SETTINGS_TITLES.to_s); %>
                  <% str = GlobalConstants::SETTINGS_TITLES[s[0]] %>
                  <%= str %>
                  <i class="icon-question-sign qIcon" id="<%= str + "Info" %>"></i>
               </td>
               
               <script>
                  $("<%= "#" + str + "Info-btn" %>").mouseover(function() {
                     $("<%= "#" + str + "Info" %>").show();
                  }).mouseout(function() {
                     $("<%= "#" + str + "Info" %>").hide();
                  });
               </script>
            <% } %>
         </tr></thead>

         <tr>
            <td>Selection:</td>
            <% a.each { |s| %>
               <td class="onOffVal">
                  <%= GlobalConstants::SETTINGS_VALUES_STR[s[0]][s[1]] %>
               </td>
            <% } %>
         </tr>
      </table>
   </div>
</div>
