<div class="row-fluid tournamentSidebar">
	<ul class="nav nav-tabs nav-tabs-imported tabs-imported-left">	
	   <li 
	   	<% if activeTab == "home" %>
	   	<%= 'class=active' %>
	   	<% end %>
	   >
	   	<%= link_to("Home", tournament_path(@tournament), {"data-toggle" => "tab"}); %>
	   </li>

	   <li 
	   	<% if activeTab == "attendees" %>
	   	<%= "class=\"active\"" %>
	   	<% end %>
	   >
	   	<%= link_to("All Attendees", tournament_path(@tournament) + "/attendees", {"data-toggle" => "tab"}); %>
	   </li>

	   <li 
	   	<% if activeTab == "motions" %>
	   	<%= "class=\"active\"" %>
	   	<% end %>
	   >
	   	<%= link_to("Motions",    "#", {"data-toggle" => "tab"}); %>
	   </li>


	   <li
	   	<% if activeTab == "tab" %>
	   	<%= "class=\"active\"" %>
	   	<% end %>
	   >
	   	<%= link_to("Tab",        "#", {"data-toggle" => "tab"}); %>
	   </li>
	   
	   <li
	   	<% if activeTab == "stats" %>
	   	<%= "class=\"active\"" %>
	   	<% end %>
	   >
	   	<%= link_to("Statistics", "#", {"data-toggle" => "tab"}); %>
	   </li>
	</ul>
</div>