<tr>
   
   <td>New Team:</td>
   <%= form_tag do %>
      
      <td><%= text_field_tag(:name, @name, {placeholder: "Team name", style: "height:20px;"}); %></td>
      
      <% (1..@n).each { |i| %>
         <td><input class="emails" name="emails[]" type="email" value="<%= @emails[i-1] %>" 
                    placeholder="<%= "E-mail of member #{i}" %>"></td>
      <% } %>
      
      <td colspan="2"><%= submit_tag "Add Team", {class: "btn"} %></td>
   <% end %>
   
</tr>

<tr>
   <td colspan="6">
      <%= render(:partial => 'shared/small_notice', :locals => {small_notice: @msg}); %>
   </td>
</tr>
