<% provide(:title,  @tournament.name + " -  Adjudicators") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <div class="tableTitle">
     <h3>Adjudicators</h3>
     <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
     <span style="margin-left:50px"># Adjudciators: <%= @tournament.adjs.count %></span>
     <br><br>
   </div>
   
   <table class="table attendeeTable">
      <%= render('tournaments/adjudicators/adj_form_row', with_rating: true, origin_place: "adjudicators"); %>
      <%= render('tournaments/adjudicators/col_titles', with_rating: true); %>
      <%= render('tournaments/adjudicators/adj_rows', with_rating: true, origin_place: "adjudicators"); %>
   </table>

</div>
