<% provide(:title,  @tournament.name + " -  Adjudicators") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <div class="tableTitle">
     <h3>Adjudicators</h3>
     <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
     <span style="margin-left:50px"># Adjudciators: <%= @tournament.adjs.count %></span>
     <br><br>
   </div>
   
   <table class="table attendeeTable">
      <%= render('tournaments/adjudicators/adj_form_row'); %>
      
      <tr class="titlesRow">
         <td>Name</td>
         <td>Institution</td>
         <td>Rating</td>
         <td>Conflicts</td>
         <td><!--  edit  --></td>
         <td><!-- remove --></td>
      </tr>
      
      <%= render('tournaments/adjudicators/adj_rows'); %>
   </table>

</div>
