<% provide(:title,  @tournament.name + " | Attendees") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <table class="table attendeeTable">
      <thead><tr>
         <td>Attendee</td>
         <td>Institution</td>
         <td>Role</td>
      </tr></thead>
      
      <% @tournament.tournament_attendees.to_a.each { |a| %>
         <tr>
            <% u = User.find(a.user_id); %>
            <td><a href="<%= user_path(u) %>"><%= u.full_name %></a></td>
            <td><a href="<%= institution_path(u.institution) %>"><%= u.institution.short_name %></a></td>
            <td><%= a.get_role %></td>
         </tr>
      <% } %>
   </table>
   
</div>
