<% provide(:title,  @tournament.name + " - Import Rooms") %>

<div class="row-fluid tournament-page">
   
   <div class="tourIndexTitle">
      <h1>Import Rooms from Past Tournaments</h1><br>
      <p><%= link_to("back to Rooms List", (tournament_path(@tournament) + '/control/rooms')); %></p>
      <br>
      <div style="width:500px;margin-right:auto;margin-left:auto">
	      <p class="lead", style="font-size:15px;">
	      	The rooms listed here are rooms previously registered from the hosting instution and 
	      	from the logged in user's institution. If you would like to import rooms from a 
	      	particular institution you will need to make someone from that institution a tab room 
	         official and have them import the rooms on this page.
	      </p>
	   </div>
   </div>
   

   <% @list = get_past_rooms %>
      <div class="tournByRegion">
         <table class="table table-striped attendeeTable">
            <thead><tr>
               <td>Room</td>
               <td>Location</td>
               <td></td>
            </tr></thead>

            <% @list.each { |r| %>
               <tr>
                  <td><a href="<%= room_path(r) %>"><%= r.name %></a></td>
                  <td><%= r.location %></a></td>
                  <td><p id="<%= "importRoom" + r.id.to_s %>" class="linkP">Import</p></td>
                  <script>
                     $("<%= "#importRoom" + r.id.to_s %>").on("click", function(){
                        $.ajax({
                           type:    "POST",
                           url:     "<%= tournament_path(@tournament) + '/control/import-room' %>",
                           data:    {room_id: <%= r.id.to_s %>}
                        }).done(function(){
                           $("<%= "#importRoom" + r.id.to_s %>").css('color','gray')
                                                                .removeClass('linkP')
                                                                .unbind();
                        });
                     });
                  </script>
               </tr>
            <% } %>
         </table>
      </div>
    
</div>
