<% provide(:title, "Create Tournament"); %>

<div class="info-page signup-page">
   
   <h1>Create Tournament</h1>
   
   <% flash.each do |key, val| %>
      <%= content_tag(:div, val, class: "alert alert-#{key}"); %>
   <% end %>
   
   <%= form_for(@tournament) do |f| %>
      <% puts("we got class: " + @setting.class.to_s); %>
         <%= render('shared/error_messages', object: f.object); %>
         <br>
         <%= render('tournaments/fields', f: f) %>
         
         <% puts("we havvvvve " + @tournament.tournament_setting.motion.to_s); %>
         <%= f.fields_for(:tournament_setting) do |g| %>
            <div>aaaaaaaaaaaa</div>
            <%= render('tournaments/secondary_fields', g: g); %>
         <% end %>
         
         <br><br>
      <%= f.submit "Create Tournament", class: "btn btn-primary create-account-btn" %>
   <% end %>
   
</div>
