<% provide(:title,  @tournament.name + " - Rooms List") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <div class="tableTitle">
      <h3>Debate Rooms List</h3>
      <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
      <br>
      <b><%= link_to("Import rooms from previous tournament", (tournament_path(@tournament) + '/control/import-rooms')) %></b>
   </div>
   
   <table class="table attendeeTable">
      <col width="20%">
      <col width="27%">
      <col width="28%">
      <col width="6%">
      <col width="8%">
      
      <%= render('rooms/room_form_row'); %>
      
      <tr class="titlesRow">
         <td>Name    </td>
         <td>Location</td>
         <td>Feature </td> <!-- ideally proximty would be irrelevant given mass release -->
         <td><!--  edit  --></td>
         <td><!-- remove --></td>
      </tr>
      
      <%= render('rooms/room_rows'); %>
   </table>

</div>
