<% provide(:title,  @tournament.name) %>

<div class="row-fluid tournament-page">
   
   <div class="row-fluid tournament-header">
      <div class="span9">
         <div class=tournament-name>
            <%= @tournament.name %>
         </div>
      </div>
      <div class="span3">
         <!-- tournament logo -->
      </div>
   </div>
   
   <% if @tournament.is_authorized?(@user) %>  
      <div class="row-fluid ctrl-btn-row">
         <%= link_to "Tournament Control Panel", (tournament_path(@tournament) + "/control"),
             class: "btn btn-warning" %>
      </div>
   <% end %>
   
   <%= render('tournaments/status_bar'); %>
   
   <div class="row-fluid">
      <div class="span2">
         <%= render('tournaments/sidebar'); %>
      </div>
      
      <div class="span10">
         <% @topic = @tournament.current_topic %>
         <% if !@topic.empty? %>
            <%= render('tournaments/current_round'); %>
         <% end %>
      
         <% if !@user.nil? && !@tournament.debater_stats(@user).empty? %>
            <%= render('tournaments/user_stats'); %>
         <% end %>
         
         <%= render('tournaments/tournament_info'); %>   
      </div>
   </div>
   
</div>
