<% provide(:title,  @tournament.name + " - Draw - Round " + @tournament.round_counter.to_s) %>

<div class="row-fluid tournament-page">

	<% if params[:round_num] == 0 %>
		<p>The draw is not ready yet.</p>
	<% else %>
	   
	   <%= render('tournaments/title_shim'); %>

	   <div class="tableTitle">
	      <h2>Draw for Round <%= @tournament.round_counter.to_s %></h2>
	      <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
	      <span style="margin-left:50px"># Debates: <%= @tournament.next_round.room_draws.count %></span>
	      <br><br>
	   </div>

	   <table class="table table-striped attendeeTable" style="width:1000px">
	      
	      <tr class="titlesRow">
	         <td>Team</td>
	         <td>Room</td>
	         <td>OG</td>
	         <td>OO</td>
	         <td>CG</td>
	         <td>CO</td>
	         <td>Adjudicators</td>
	         <td><!-- edit --><td>
	      </tr>
	      
	      <%= render('tournaments/draws/draw_rows'); %>
	   </table>
	   
   <% end %>
   
</div>
