<% provide(:title,  @tournament.name + " | Tab Room") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>

   <div class="tableTitle">
      <h2>Tab Room Officials and Chief Adjudicators</h2>
      <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
      <span style="margin-left:50px"># Officials: <%= @tournament.tabbies.count %></span>
      <br><br>
   </div>

   <table class="table attendeeTable">
      <%= render('tournaments/tabbies/tabbie_form_row'); %>
      
      <tr class="titlesRow">
         <td>Name</td>
         <td>Institution</td>
         <td>Authority</td>
         <td><!-- remove --><td>
      </tr>
      
      <%= render('tournaments/tabbies/tabbie_rows'); %>
   </table>
   
</div>
