<% provide(:title,  @tournament.name + " | Tab Room") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <div class="tableTitle">
      <h3>Tab Room Officials</h3>
      <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
   </div>

   <table class="table attendeeTable">
      <thead><tr>
         <td>Name</td>
         <td>Institution</td>
         <td><td>
      </tr></thead>
      
      <% @tab_room_attendee_array.each { |a| %>
         <tr>
            <% u = User.find(a.user_id); %>
            <td><a href="<%= user_path(u) %>"><%= u.full_name %></a></td>
            <td><a href="<%= institution_path(u.institution) %>"><%= u.institution.short_name %></a></td>
            <td><%= link_to("Remove", tournament_attendee_path(id: a.id, tournament_id: @tournament.id), 
                            confirm: ("Are you sure you want to remove " + 
                            u.full_name + " from the tab room?"), method: :delete) %></td>
         </tr>
      <% } %>

      <tr>
         <td><p id="addUserBtn" class="linkP">Add user to Tab Room</p></td>
         <td></td>
         <td></td>
      </tr>
   </table>

   <div class="newTabbieForm" id="tabRoomForm" 
      <% if @temp_email.empty? %>
         style="display:none;"
      <% end %>
   >
      <%= form_tag(tournament_attendees_path) do %>
         <span class="newTabbieField">User's E-mail: <%= email_field_tag(:email, @temp_email, 
                                                         class: "addTabbieEmail", 
                                                         style: "height:14px; margin-bottom:0px;") %></span>
         <%= hidden_field_tag 'request_origin', "tab_room" %>
         <%= hidden_field_tag 'tournament_id', @tournament.id %>
         <%= submit_tag "Add", {class: "btn newTabbieBtn"} %>
      <% end %>

      <script>
         $("#addUserBtn").on("click", function() {
            $("#tabRoomForm").toggle();
         });
      </script>
   </div>

   <div class="newTabbieForm" 
      <% if flash.nil? %>
         style="display:none"
      <% end %>
   >
      <% flash.each do |key, val| %>
         <%= content_tag(:div, val, class: "fadeSoon alert alert-#{key}", style: "margin-top:60px;"); %>
      <% end %>
   </div>
   
</div>
