<header class="navbar-fixed-top">
   <ul class="nav nav-tabs">
      <span id="logo"><%= link_to "TabHub", root_path %></span>
      
      <li class="left-tab <% if(request.path == root_path) %><%= "active" %><% end %>">
         <%= link_to "Home", root_path %>
      </li>
      
      <% if signed_in? %>
         <li class="">
            <%= link_to "Current Tournament", root_path %>
         </li>
      <% end %>
      
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown">
            Resources
            <b class="caret"></b>
         </a>

         <ul class="dropdown-menu">
            <li><%= link_to "Past Motions", root_path %></li>
            <li><%= link_to "Tournament Schedule", root_path %></li>
            <li><%= link_to "WUDC Rules", root_path %></li>
            <li><%= link_to "3v3 Rules", root_path %></li>
            <li><%= link_to "Links", root_path %></li>
            <li><%= link_to "Timer", root_path %></li>
         </ul>
      </li>
      
      <li class="<% if(request.path == !root_path) %><%= "active" %><% end %>">
         <%= link_to "Search", root_path %>
      </li>
   </ul>
</header>
