<header class="navbar-fixed-top">
   <ul class="nav nav-tabs">
      <span id="logo"><%= link_to "TabHub - Beta", root_path %></span>
      
      <li class="left-tab <% if(request.path == root_path) %><%= "active" %><% end %>">
         <%= link_to "Home", root_path %>
      </li>
      
      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown">
            Tournament
            <b class="caret"></b>
         </a>

         <ul class="dropdown-menu">
            <% if signed_in? && current_user.in_tournament?%>
               <li><%= link_to "Current Tournament", tournament_path(current_user.current_tournaments.first) %></li>
               <!-- feature to add...would be a an '!' symbol to say you are currently in tourns at once if such occured...
               link to page to rectify this issue -->
            <% end %>
            
            <% if signed_in? %>
               <li><%= link_to "My Tournaments", user_path(current_user) %></li>
            <% end %>
            <li><%= link_to "All Tournaments Schedule", tournaments_path %></li>
            <li><%= link_to "Create Tournament", new_tournament_path %></li>
         </ul>
      </li>
      

      <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown">
            Resources
            <b class="caret"></b>
         </a>

         <ul class="dropdown-menu">
            <li><%= link_to "Past Motions", root_path %></li>
            <li><%= link_to "WUDC Rules", root_path %></li>
            <li><%= link_to "3v3 Rules", root_path %></li>
            <li><%= link_to "Links", root_path %></li>
            <li><%= link_to "Timer", root_path %></li>
         </ul>
      </li>
      
      <li class="<% if(request.path == !root_path) %><%= "active" %><% end %>">
         <%= link_to "Search", root_path %>
      </li>
   </ul>
</header>
