<% list = @user.get_tournaments(:future); %>
<% if !list.empty? %>

	<div class="upcoming-table">
	   <h2>Your Upcoming Tournaments</h2>

	   <table class="table table-striped">
	   	<tr>
	         <th>Tournament</th>
	         <th>Role</th>
	         <th>Start Date</th>
	         <th>End Date</th>
	      </tr>

		   <% list.each { |t| %>

		      <tr>
		         <td><a href="<%= tournament_path(t) %>"><%= t.name %></a></td>
		         <td>
		         	<% team_of_user = t.team_of(@user); %>
			         <% if !team_of_user.nil? %>
			         	Debating for <a href="<%= team_path(team_of_user) %>"><%= team_of_user %></a>
			         <% else %>
			         	<%= GlobalConstants.TOURNAMENT_ROLES_STR[@user.tournament_attendees.where(tournament_id: t.id).role].titleize(); %>
			         <% end %>
		         </td>
		         <td>t.start_time</td>
		         <td>t.end_time</td>
		      </tr>

		   <% } %>
	   </table>
	</div>

<% end %>